.title {
  text-align: center;
}
.list {
  list-style: none;
}

.list-countries {
  list-style: disc;
  margin-left: 20px;
}

.title {
  font-weight: bold;
  margin-right: 5px;
}
.div {
  display: flex;
  justify-content: space-evenly;
}
.div-div {
  width: 600px;
}
